<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>mypkg.MyContextHandler</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>mypkg.HttpSessionHandler</listener-class>
    </listener>
    <listener>
        <description>RequestListener</description>
        <listener-class>mypkg.MyRequesHandler</listener-class>
    </listener>
    <servlet>
        <servlet-name>ShowBooks</servlet-name>
        <servlet-class>ShowBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUsers</servlet-name>
        <servlet-class>ShowUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowBooks</servlet-name>
        <url-pattern>/ShowBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUsers</servlet-name>
        <url-pattern>/ShowUsers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
